AddDefaultCharset utf-8
Options -Indexes

RewriteEngine on
RewriteRule ^(((\w*)/?)*)(\?(.*))?$ index.php?path=$1&$5 [QSA]

#RewriteRule ^(([A-z0-9_-]+/)*)([A-z0-9_-]+)(\.html)?$ index.php?path=$1$3
#RewriteRule ^(([A-z0-9_-]+/)*)([A-z0-9_-]+/?)$ index.php?path=$1$3